@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Home Page</h1>
    <br />
    <a class="btn btn-info" role="button" asp-controller="Jobsku" asp-action="Index">Go to the Job-SKU tab</a>
    <br />
   
    
    <br />
    <p>only the C , R and D in the CRUD</p>
    <br />
    <span>time is @DateTime.Now</span>
    <br />

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
