@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Welcome to the Home Page</h5>
    <br />
    <a class="btn btn-info" role="button" asp-controller="Jobsku" asp-action="Index">CLICK ME to Go to the Job-SKU tab</a>
    <br />
   
    
    <br />
    <p>only the C , R and D in the CRUD</p>
    <br />
    <span>time is @DateTime.Now</span>
    <br />

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            
        </div>

        <div class="col">
            <img src="~/img/qrcode_kokakola.azurewebsites.net.png" class="rounded mx-auto d-block" alt="...">
        </div>

        <div class="col">
        </div>
    </div>
</div>
