@{
    ViewData["Title"] = "Home Page";
}

@model List<MoreData>

<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="Iot" asp-action="Boron">Go to Boron Device</a>
</div>
<div class="text-center">
    <h3>The last measurements storaged in Azure</h3>
    @foreach (var itemx in Model)
    {
        <div>Humidity: @itemx.MeasuredData.Hum    </div> 
        <div> Temperature: @itemx.MeasuredData.Tfah</div>
        <div> Time: @itemx.Body.published_at.AddHours(-4) </div>
    }
</div>
